
\.vs/AdyenIntegrationReact/config/applicationhost\.config

\.vs/AdyenIntegrationReact/DesignTimeBuild/\.dtbcache

\.vs/AdyenIntegrationReact/v16/\.suo

\.vs/AdyenIntegrationReact/v16/Server/sqlite3/db\.lock

\.vs/AdyenIntegrationReact/v16/Server/sqlite3/storage\.ide

\.vs/AdyenIntegrationReact/v16/Server/sqlite3/storage\.ide-shm

\.vs/AdyenIntegrationReact/v16/Server/sqlite3/storage\.ide-wal

AdyenIntegrationReact/ClientApp/src/authorization\.json
